<p id="notice"><%= notice %></p>

<h1>Statuses</h1>

<h2>Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Script</th>
      <th>Priority</th>
      <th>Repeat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.script %></td>
        <td><%= task.priority %></td>
        <td><%= task.repeat %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= button_to 'Register', register_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Results</h1>

<h3>Queued/Invoked</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Status</th>
      <th>Worker</th>
    </tr>
  </thead>

  <tbody>
    <% @not_completed_results.each do |result| %>
      <tr>
        <td><%= link_to(result.id, result_path(result)) %></td>
        <td><%= link_to(result.task.name, task_path(result.task)) %></td>
        <td><%= result.status_with_time %></td>
        <td><%= result.worker_signature %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Completed</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Status</th>
      <th>Worker</th>
      <th>Sumamry</th>
    </tr>
  </thead>

  <tbody>
    <% @completed_results.each do |result| %>
      <tr>
	<td><%= link_to(result.id, result_path(result)) %></td>
        <td><%= link_to(result.task.name, task_path(result.task)) %></td>
        <td><%= result.status_with_length %></td>
	<td><%= result.worker_signature %></td>
        <td><%= result.summary %></td>
      </tr>
    <% end %>
  </tbody>
</table>
