<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :script %>
    <%= f.text_area :script %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority %>
  </div>

  <div class="field">
    <%= f.label :repeat %>
    <%= f.check_box :repeat %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>

  <div class="field">
    <%= f.label :invoked %>
    <%= f.check_box :invoked %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
