<p id="notice"><%= notice %></p>
<p>
  <ul>
    <li>Name: <%= @task.name %></li>
    <li>Description: <%= @task.description %></li>
    <li>Priority: <%= @task.priority %></li>
    <li>Repeat: <%= @task.repeat %></li>
    <li>Created at: <%= @task.created_at %></li>
  </ul>
</p>
<p>
  <strong>Script:</strong>
  <pre><%= @task.script %></pre>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
