<%= form_for(result) do |f| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %>
    <%= f.text_field :task_id %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :result %>
    <%= f.text_area :result %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
