<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @result.task.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @result.summary %>
</p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<p>
  <ul>
    <li>Status: <%= @result.status %></li>
    <li>Worker: <%= @result.worker %></li>
    <li>Memo: <%= @result.memo %></li>
    <li>Created: <%= @result.created_at %> </li>
    <li>Invoked: <%= @result.invoked_at %> </li>
    <li>Completed: <%= @result.completed_at %></li>
  </ul>
</p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
