<p id="notice"><%= notice %></p>

<p>
  <ul>
    <li>Task: <%= link_to @result.task.name, task_path(@result.task) %></li>
    <% if @result.completed_at %>
      <li>Status: <%= @result.status_with_time %> (in <%= Integer(@result.completed_at - @result.invked_at) %> sec)</li>
    <% eles %>
      <li>Status: <%= @result.status_with_time %></li>
    <% end %>
    <li>Memo: <%= @result.memo %></li>
    <li>Worker: <%= @result.worker %></li>
    <li>Connected from: <%= @result.connected_from %></li>
    <li>Created at: <%= @result.created_at %></li>
    <li>Invoked at: <%= @result.invoked_at %></li>
    <li>Completed at: <%= @result.completed_at %></li>
  </ul>
</p>
<p>
  <strong>Result</strong>
  <%= @result.summary %>
</p>
<p>
  <pre><%= @result.result %></pre>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
