<p id="notice"><%= notice %></p>

<p>
  <ul>
    <li>Task: <%= link_to @result.task.name, task_path(@result.task) %></li>
    <li>Status: <%= @result.status_with_time %></li>
    <li>Memo: <%= @result.memo %></li>
    <li>Worker: <%= @result.worker %></li>
    <li>Connected from: <%= @result.connected_from %></li>
  </ul>
</p>
<p>
  <strong>Result</strong>
  <%= @result.summary %>
</p>
<p>
  <pre><%= @result.result %></pre>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
